<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <body>
  
  	<div th:fragment="timeline_template_series">
  		<!-- Series Template -->
  		<div id="template_Series" class="element prerender">
			<div class="Series">
				<div class="reshared">
					<div class="resharedBy">
						<small>Reshared by <span class="name">Username</span></small>
					</div>
					<span class="resharedComment">Comment</span>
				</div>
				<div class="row">
					<div class="col-sm-7">
						<div class="avatar">
							<a href="#"><img src="" width="48" /></a>
						</div>
						<div class="title">
							Series: <a href="#" class="title">Lorem ipsum dolor sit amet</a>
						</div>
						<div class="username hidden-xs">
							by <a href="#"><span class="name">Username</span> <small
								class="screenname">screenname</small></a> <span class="owner">in
								<a href="#"></a>
							</span>
						</div>
					</div>
					<div class="stats col-sm-5">
						<div class="createdAt">
							Posted on: <span>11/11/2014</span>
						</div>
						<div class="sizeOfComments">
							Comments: <span>0</span>
						</div>
					</div>
				</div>
				<div class="preview">
					<div>
						<span class="description">Description</span> [<a class="readmore">READ
							MORE</a>]
					</div>
				</div>
				<div>
					<span class="glyphicon glyphicon-tag"></span> Tags: <span
						class="tags-list"></span>
				</div>
				<div>
					<i class="far fa-smile"></i> Reactions: <span
						class="reactions-list"></span>
				</div>
				<div class="action-group" role="group">
					<a sec:authorize="isAuthenticated()" class="reactBtn" href="#"
						data-toggle="modal" data-target="#reactModal"> <span
						class="fa-stack fa-stack fa-lg"> <i
							class="fa fa-circle fa-stack-2x share_background"></i> <i
							class="far fa-smile fa-stack-1x"></i>
					</span>
					</a> <a sec:authorize="isAuthenticated()" class="shareBtn" href="#"
						data-toggle="modal" data-target="#reshareJournalModal"> <span
						class="fa-stack fa-stack fa-lg"> <i
							class="fa fa-circle fa-stack-2x share_background"></i> <i
							class="fas fa-share-alt fa-stack-1x"></i>
					</span>
					</a> <span class="protectedAlert"
						title="This post was posted to a select visibility and cannot be reshared.">
						<span class="fa-stack fa-stack fa-lg"> <i
							class="fas fa-lock fa-stack-1x"></i>
					</span>
					</span> <small class="id" style="display: none;"></small>
				</div>
			</div>
		</div>
	</div>
  
  	<div th:fragment="newSeriesForm_model">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
			<h4>New Series</h4>
		</div>
		<form id="newseries_form" th:action="@{|/series/new|}" th:object="${newseries}" method="post">
		<div class="modal-body">
			<div class="row">
				<div class="series-form col-xs-12 col-md-8">
					<div class="form-group">
						<label for="newseries_title">Title</label>
						<input id="newseries_title" class="form-control generatesTitleKey" type='text' th:field="*{title}" size='50' required="required"/>
					</div>
					<div class="form-group">
						<label for="newseries_titleey">Uri</label>
						<div class="input-group input-group-sm">
							<span class="input-group-addon">
								<span>/<span class="owner" 
									th:text="${newseries.owner!=null?newseries.owner.username:#authentication.principal.username}">owner</span>/series/ID/</span>
							</span>
							<input id="newseries_titleKey" class="form-control generatedTitleKey" type='text' th:field="*{titleKey}" size='50' required="required"/>
						</div>
					</div>
					<div class="form-group">
						<label for="newseries_description">Description</label>
						<textarea id="newseries_description" class="form-control" th:field="*{description}" rows="6" required="required"/>
					</div>
					<div class="form-group">
						<label>Maturity Rating:</label>
						<select th:field="*{rating}" class="form-control" required="required">
							<option th:each="option : ${ratings}"
					            	th:value="${option.id}"
					            	th:text="${option.displayName}">
					    	</option>
						</select>
					</div>
					<div class="form-group">
						<label>Main Genre:</label>
						<select th:field="*{genre}" class="form-control" required="required">
							<option th:each="option : ${genres}"
					            	th:value="${option.id}"
					            	th:text="${option.displayName}">
					    	</option>
						</select>
					</div>
					<div class="form-group">
						<label>Additional Genres:</label>
						<select th:field="*{additionalGenres}" size="5" class="form-control" multiple="multiple">
							<option th:each="option : ${genres}"
					            	th:value="${option.id}"
					            	th:text="${option.displayName}">
					    	</option>
						</select>
					</div>
					<div class="form-group">
						<label>Story Status:</label>
						<select th:field="*{status}" class="form-control" required="required">
							<option th:each="status : ${T(net.mixednutz.app.server.entity.post.series.Status).values()}"
						            th:value="${status}"
						            th:text="${status}">
						    </option>
						</select>
					</div>
				</div>
				<div class="series-options col-xs-12 col-md-4" th:include="common/fragments_forms :: post_options (${newseries}, ${ {'Series':seriesCrosspostFeeds} }, true, false, false)">
					series-options
				</div>
			</div>
  		</div>
		<div class="modal-footer">
			<p>Note:  A Series is not visible until a Chapter is posted</p>
			<button id="series-submit-btn" class="btn btn-success" type="submit" name="submit" value="Post Now">Post Now</button>
			<button class="btn" type="button" data-dismiss="modal">Cancel</button>
		</div>
		</form>
		
	</div>
	
	
	<div th:fragment="editSeriesForm_model">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
			<h4>Edit Series</h4>
		</div>
		<form id="editseries_form" th:action="@{|/series/${series.id}/edit|}" th:object="${series}" method="post">
		<div class="modal-body">
			<div class="row">
				<div class="series-form col-xs-12 col-md-8">
					<div class="form-group">
						<label for="editseries_title">Title</label>
						<input id="editseries_title" class="form-control generatesTitleKey" type='text' th:field="*{title}" size='50' required="required"/>
					</div>
					<div class="form-group">
						<label for="editseries_titleey">Uri</label>
						<div class="input-group input-group-sm">
							<span class="input-group-addon">
								<span>/<span class="owner" 
									th:text="${series.owner!=null?series.owner.username:#authentication.principal.username}">owner</span>/series/<span th:text="${series.id}"></span>/</span>
							</span>
							<input id="editseries_titleKey" class="form-control generatedTitleKey" type='text' th:field="*{titleKey}" size='50' required="required"/>
						</div>
					</div>
					<div class="form-group">
						<label for="editseries_description">Description</label>
						<textarea id="editseries_description" class="form-control" th:field="*{description}" rows="6" required="required"/>
					</div>
					<div class="form-group">
						<label>Maturity Rating:</label>
						<select th:field="*{rating}" class="form-control" required="required">
							<option th:each="option : ${ratings}"
					            	th:value="${option.id}"
					            	th:text="${option.displayName}">
					    	</option>
						</select>
					</div>
					<div class="form-group">
						<label>Main Genre:</label>
						<select th:field="*{genre}" class="form-control" required="required">
							<option th:each="option : ${genres}"
					            	th:value="${option.id}"
					            	th:text="${option.displayName}">
					    	</option>
						</select>
					</div>
					<div class="form-group">
						<label>Additional Genres:</label>
						<select th:field="*{additionalGenres}" size="5" class="form-control" multiple="multiple">
							<option th:each="option : ${genres}"
					            	th:value="${option.id}"
					            	th:text="${option.displayName}">
					    	</option>
						</select>
					</div>
					<div class="form-group">
						<label>Story Status:</label>
						<select th:field="*{status}" class="form-control" required="required">
							<option th:each="status : ${T(net.mixednutz.app.server.entity.post.series.Status).values()}"
						            th:value="${status}"
						            th:text="${status}">
						    </option>
						</select>
					</div>
				</div>
				<div class="series-options col-xs-12 col-md-4" th:include="common/fragments_forms :: post_options (${series}, ${ {:} }, true, false, true)">
					journal-options
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<p>Note:  A Series is not visible until a Chapter is posted</p>
			<button id="series-update-btn" class="btn btn-success" type="submit" name="submit" value="Update Now">Update Now</button>
			<button class="btn" type="button" data-dismiss="modal">Cancel</button>
		</div>
		</form>
		
	</div>
	
	<div th:fragment="series">
		<!-- Series Post --> 
		
        <!-- Title -->
        <h1 itemprop="name" th:text="${series.title}">Series Title</h1>

        <!-- Author -->
        <p class="lead">
            by <a th:if="${series.author!=null}" th:href='@{|/${series.author.username}|}' href="#" th:text="${series.author.username}">Author</a><span th:if="${series.author==null}">Former Member</span> 
        </p>
        
        <hr/>

        <!-- Date/Time --> 
        <p>
        	<span class="glyphicon glyphicon-time"></span> Posted on <time th:datetime="${#temporals.formatISO(series.datePublished)}" th:text="${#temporals.format(series.datePublished, #messages.msg('datetime.format.full'))}">August 24, 2013 at 9:00 PM</time>
        	<span class="glyphicon glyphicon-eye-open"></span> <span th:text="${views}">0</span> Views
        	<span class="glyphicon glyphicon-stats"></span> Word Count: <span th:text="${wordCount}">0</span>
        	<!--<span class="glyphicon glyphicon-heart"></span> <span>0</span> Favorites -->
        </p>

		<div>Reviews: 
			<a href="#comments" th:text="${#lists.size(series.reviews)}">lists.size(series.reviews)</a>
		</div>
		<div>Rated: 
			<span th:text="${series.rating.displayName}">series.rating.displayName</a>
		</div>
		<div>Genre: 
			<a href="#" th:text="${series.genre.displayName}" class="btn btn-sm btn-default">series.genre.displayName</a>
			<div class="btn-group" role="group">
				<a href="#" th:each="additional : ${series.additionalGenres}" th:text="${additional.displayName}" class="btn btn-sm btn-default">series.additionalGenre.displayName</a>
			</div>
		</div>
		
		
		
  		
		<hr sec:authorize="isAuthenticated()" th:if="${#authentication.principal.userId}==${series.author.userId}" />
		
		<div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.userId}==${series.author.userId}">
			
			<!-- Add Chapter -->
			<button data-toggle="modal" data-target="#addChapterModal" class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Chapter</button>
			<!-- Edit -->
			<button data-toggle="modal" data-target="#editseriesModal" class="btn btn-default" type="button"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit Series</button>
			<!-- Delete -->
			<button data-toggle="modal" data-target="#deleteseriesModal" class="btn btn-danger" type="button"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete Series</button>
		</div>
				
        <hr/>

        <!-- Preview Image -->
        <!-- <img class="img-responsive" src="http://placehold.it/900x300" alt=""/> 

        <hr/>-->

        <!-- Post Content -->
        <h2>Synopsis</h2>
        <div th:text="${series.description}">description</div>
                
        <hr/>      
        
        <div sec:authorize="isAuthenticated()">
        <h2>Download</h2>  
        
        <a class="btn btn-default" th:href="${series.uri+'.epub'}"><i class="fas fa-book" aria-hidden="true"></i> Download as EPUB</a>
                
        <hr/>
        </div>
        
        <h2>Table of Contents</h2>
        <div class="toc list-group" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.userId}==${series.author.userId}">
        	<div th:each="chapter : ${series.chapters}" class="list-group-item">
        		<div>
        		<!-- Chapter Title -->
        		<a th:href="@{|${chapter.uri}|}" th:text="${chapter.title}">chapter.title</a>, 
        		<!-- Comments -->
        		<small><a th:href="@{|${chapter.uri}#comments|}" ><span th:text="${#lists.size(chapter.comments)}"></span> comments</a></small> 
        		<!-- Word Count -->
        		<small>(<span th:text="${chapter.wordCount}">wordCount</span> words)</small>
        		<!-- Publish Date -->
        		<span class="pull-right" th:if="${chapter.datePublished!=null}"><span class="published">Published</span> - <time th:datetime="${#temporals.formatISO(chapter.datePublished)}" th:text="${#temporals.format(chapter.datePublished, #messages.msg('datetime.format.full'))}">August 24, 2013 at 9:00 PM</time></span>
        		<span class="pull-right" th:if="${chapter.datePublished==null and chapter.scheduled!=null}"><span class="scheduled">Scheduled</span> - <time th:datetime="${#temporals.formatISO(chapter.scheduled.publishDate)}" th:text="${#temporals.format(chapter.scheduled.publishDate, #messages.msg('datetime.format.full'))}">August 24, 2013 at 9:00 PM</time></span>
        		</div>
        	</div>
        </div>
        <div class="toc list-group" sec:authorize="!isAuthenticated()" >
        	<div th:each="chapter : ${series.chapters}" th:if="${chapter.datePublished!=null}" class="list-group-item">
        		<div>
        		<!-- Chapter Title -->
        		<a th:href="@{|${chapter.uri}|}" th:text="${chapter.title}">chapter.title</a>, 
        		<!-- Comments -->
        		<small><a th:href="@{|${chapter.uri}#comments|}" ><span th:text="${#lists.size(chapter.comments)}"></span> comments</a></small> 
        		<!-- Word Count -->
        		<small>(<span th:text="${chapter.wordCount}">wordCount</span> words)</small>
        		<!-- Publish Date -->
        		<time class="pull-right" th:if="${chapter.datePublished!=null}" th:datetime="${#temporals.formatISO(chapter.datePublished)}" th:text="${#temporals.format(chapter.datePublished, #messages.msg('datetime.format.full'))}">August 24, 2013 at 9:00 PM</time>
        		</div>
        	</div>
        </div>
        
        <hr/>
        				
		<!-- Author Box -->
		<div th:include="profile/fragments_profile :: authorBio (${profile}, ${series.author})">authorBox</div>

        <!-- Blog Comments -->

        <!-- Comments Form -->
       	<div th:replace="common/fragments_comments::post_comment_form(${series}, 'Leave a Review')">Reply Form</div>
        
        <hr/>

        <!-- Posted Comments -->
		<div id="comments" class="comments" th:include="common/fragments_comments :: post_comments (${series})">Comments</div>
            
	</div>
	
	<div th:fragment="series_settings">
		<h2>Series Settings</h2>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="genre_list">Genres:</label>
					<select id="genre_list" class="form-control" size="5">
						<option th:each="option : ${genres}"
					            th:value="${option.id}"
					            th:text="${option.displayName}">
					    </option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<input id="genre_id" type='hidden'/>
				<div class="form-group">
					<label for="genre_displayName">Genre Display Name:</label>
					<input id="genre_displayName" class="form-control" type='text'/>
				</div>
				<div>
					<button id="genre_submit" class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Genre</button>
					<button id="genre_update" class="btn btn-default" type="button"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Save Genre</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Maturity Ratings:</label>
					<select id="rating_list" class="form-control" size="5">
						<option th:each="option : ${ratings}"
					            th:value="${option.id}"
					            th:text="${option.displayName}"
					            th:attr="data-requiresAgeVerification=${option.requiresAgeVerification},data-minimumAge=${option.minimumAge}">
					    </option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<input id="rating_id" type='hidden'/>
				<div class="form-group">
					<label for="rating_displayName">Maturity Rating Display Name</label>
					<input id="rating_displayName" class="form-control" type='text'/>
				</div>
				<div class="form-group">
					<label for="rating_sortOrder">Sort ID:</label>
					<input id="rating_sortOrder" class="form-control" type='number' value='0'/>
				</div>
				<div class="form-check">
					<input id="rating_requiresAgeVerification" class="form-check-input" type="checkbox" value="true"/>
					<label for="rating_requiresAgeVerification" class="form-check-label">Require Age Verification</label>
				</div>
				<div class="form-group">
					<label for="rating_minimumAge">Minimum Age</label>
					<input id="rating_minimumAge" class="form-control" type="number"/>
				</div>
				<div>
					<button id="rating_submit" class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Rating</button>
					<button id="rating_update" class="btn btn-default" type="button"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Save Rating</button>
				</div>
			</div>
		</div>
		
	</div>
	
	<script th:fragment="series_settings_JS" th:inline="javascript">
	/*<![CDATA[*/
		var csrfToken = $("meta[name='_csrf']").attr("content");
	  	var csrfHeader = $("meta[name='_csrf_header']").attr("content");
	  	$(document).ajaxSend(function(e,xhr,options){
	  		xhr.setRequestHeader(csrfHeader, csrfToken);
	  	});	
		
	var genreUri = /*[[@{|/internal/genre|}]]*/ "/internal/genre";
	var ratingUri = /*[[@{|/internal/rating|}]]*/ "/internal/rating/";
	
	function getTitleKey(str) {
		return str
			.toLowerCase()
			.trim()
			.replace(/[^\w\s]|_/g, "")
			.replace(/\s+/g, '-');
	};
	
	$('#genre_update').hide();
	$('#rating_update').hide();
	
	$('#genre_submit').on('click',function(){
		data = {
				'id':getTitleKey($('#genre_displayName').val()),
				'displayName':$('#genre_displayName').val()}
		$.ajax({
			type: 'POST', 
			url: getRelativePath(genreUri),
			data: JSON.stringify(data),
			contentType: 'application/json; charset=utf-8',
			dataType: "json",
			success: function(data){
				console.log(data);
				$('#genre_displayName').val('');
				$('#genre_list').append(
						$('<option>')
							.val(data.id)
							.text(data.displayName));
			}
		});
	});
	$('#genre_update').on('click',function(){
		data = {
				'id':getTitleKey($('#genre_displayName').val()),
				'displayName':$('#genre_displayName').val()}
		$.ajax({
			type: 'PUT', 
			url: getRelativePath(genreUri+'/'+$('#genre_id').val()),
			data: JSON.stringify(data),
			contentType: 'application/json; charset=utf-8',
			dataType: "json",
			success: function(data){
				console.log(data);
				var option = $('#genre_list option[value="' + data.id + '"]');
				option.text(data.displayName)
			}
		});
	});
	$('#genre_list').on('change',function(){
		console.log($(this).val());
		$('#genre_id').val($(this).val());
		$('#genre_displayName').val($(this).find(":selected").text());
		$('#genre_submit').hide()
		$('#genre_update').show();
	});
	
	$('#rating_submit').on('click',function(){
			data = {
					'id' : getTitleKey($('#rating_displayName').val()),
					'displayName' : $('#rating_displayName').val(),
					'sortOrder' : $('#rating_sortOrder').val(),
					'requiresAgeVerification' : $('#rating_requiresAgeVerification').prop('checked'),
					'minimumAge' : $('#rating_requiresAgeVerification').prop('checked')
						? $('#rating_minimumAge').val() : null
					}
			$.ajax({
				type: 'POST', 
				url: getRelativePath(ratingUri),
				data: JSON.stringify(data),
				contentType: 'application/json; charset=utf-8',
				dataType: "json",
				success: function(data){
					console.log(data);
					$('#rating_displayName').val('');
					$('#rating_sortOrder').val('0');
					$('#rating_requiresAgeVerification').prop('checked',false);
					$('#rating_minimumAge').val('');
					$('#rating_list').append(
							$('<option>')
								.val(data.id)
								.text(data.displayName)
								.attr('data-sortOrder',data.sortOrder)
								.attr('data-requiresAgeVerification',data.requiresAgeVerification)
								.attr('data-minimumAge',data.minimumAge));
				}
			});
	});
	$('#rating_update').on('click',function(){
		data = {
				'id' : getTitleKey($('#rating_displayName').val()),
				'displayName' : $('#rating_displayName').val(),
				'sortOrder' : $('#rating_sortOrder').val(),
				'requiresAgeVerification' : $('#rating_requiresAgeVerification').prop('checked'),
				'minimumAge' : $('#rating_requiresAgeVerification').prop('checked')
					? $('#rating_minimumAge').val() : null
				}
		$.ajax({
			type: 'PUT', 
			url: getRelativePath(ratingUri+'/'+$('#rating_id').val()),
			data: JSON.stringify(data),
			contentType: 'application/json; charset=utf-8',
			dataType: "json",
			success: function(data){
				console.log(data);
				var option = $('#rating_list option[value="' + data.id + '"]');
				option
					.text(data.displayName)
					.attr('data-sortOrder',data.sortOrder)
					.attr('data-requiresAgeVerification',data.requiresAgeVerification)
					.attr('data-minimumAge',data.minimumAge);
			}
		});
	});
	$('#rating_list').on('change',function(){
		var selectedOption = $(this).find(":selected")
		$('#rating_id').val($(this).val());
		$('#rating_displayName').val(selectedOption.text());
		$('#rating_sortOrder').val(selectedOption.attr('data-sortOrder'));
		$('#rating_requiresAgeVerification').prop('checked',selectedOption.attr('data-requiresAgeVerification')=='true');
		$('#rating_minimumAge').val(selectedOption.attr('data-minimumAge'));
		$('#rating_submit').hide()
		$('#rating_update').show();
	});
	/*]]>*/
	</script>
  
  </body>
</html>