.scheduled {
	color: #0000FF;
	font-weight: bold;
}
.published {
	color: #00AA00;
	font-weight: bold;
}

.timeline .Series .preview {
	padding: 10px;
}

.timeline .Series .glyphicon-tag {
	color: #AAB8C2;
}

.timeline .Series .fa-smile {
	color: #AAB8C2;
}

.timeline .Series .action-group .fa-share-alt {
	color: #FFFFFF;
}

.timeline .Series .action-group .fa-smile {
	color: #FFFFFF;
}

.timeline .Series .share_background {
	color: #AAB8C2;
}

.timeline .Series .action-group .fa-lock {
	color: #AAB8C2;
}
.timeline .Series .completionStatus {
	padding-left: 1em;
}
.timeline .Series .completionStatus.IN_PROGRESS {
	color: #0000CC;
}
.timeline .Series .completionStatus.COMPLETED {
	color: #00CC00;
}
.timeline .Series .completionStatus.HIATUS {
	color: #AA8800;
}