<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <body>
  
	<div th:fragment="newChapterForm_model">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
			<h4>New Chapter</h4>
		</div>
		<form id="newchapter_form" th:action="@{|/series/${series.id}/chapter/new|}" th:object="${newchapter}" method="post">
		<div class="modal-body">
			<div class="row">
				<div class="chapter-form col-xs-12 col-md-8">
					<div class="form-group">
						<label for="newchapter_title">Title</label>
						<input id="newchapter_title" class="form-control generatesTitleKey" type='text' th:field="*{title}" size='50' required="required"/>
					</div>
					<div class="form-group">
						<label for="newchapter_titleKey">Uri</label>
						<div class="input-group input-group-sm">
							<span class="input-group-addon">
								<span>/<span class="owner" 
									th:text="${newchapter.owner!=null?newchapter.owner.username:#authentication.principal.username}">owner</span>/series/<span class="seriesId" 
									th:text="${newchapter.series.id}">seriesId</span>/<span class="seriesTitleKey" 
									th:text="${newchapter.series.titleKey}">seriesTitleKey</span>/chapter/ID/</span>
							</span>
							<input id="newchapter_titleKey" class="form-control generatedTitleKey" type='text' th:field="*{titleKey}" size='50' required="required"/>
						</div>
					</div>
					
					<div class="form-group">
						<label for="body">Body</label>
						<div class="btn-toolbar" data-role="editor-toolbar"
						        data-target="#editor">
						  	<div class="btn-group">
								<a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fas fa-bold"></i></a>
								<a class="btn btn-default" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fas fa-italic"></i></a>
								<a class="btn btn-default" data-edit="strikethrough" title="Strikethrough"><i class="fas fa-strikethrough"></i></a>
								<a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fas fa-underline"></i></a>
							</div>
							
							<div class="btn-group">
								<a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fas fa-undo"></i></a>
								<a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fas fa-redo"></i></a>
								<a class="btn btn-default" data-edit="html" title="Clear Formatting"><i class='glyphicon glyphicon-pencil'></i></a>
							</div>
						</div> 
						<input type="hidden" id="series_body" th:field="*{body}"/>
						<div id="editor" class="form-control" data-placeholder="Start your story..."></div>
					</div>
					<div class="form-group">
						<label for="summary">Summary</label>
						<input id="newjournal_summary" class="form-control" th:field="*{description}" size="50" type="text" placeholder="Short summary of this chapter..."/>
					</div>
				</div>
				<div class="chapter-options col-xs-12 col-md-4" th:include="common/fragments_forms :: post_options (${newchapter}, ${ {'Chapter':chapterCrosspostFeeds} }, true, true, false, true, false)">
					chapter-options
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button id="chapter-submit-btn" type="submit" name="submit" value="Post Now">Post Now</button>
  			
			<button class="btn btn-success" type="button" name="submit" value="Post Now"
				onclick="$('#series_body').val($('#editor').cleanHtml(true));$('#chapter-submit-btn').click();">Post Now</button>
  			<button class="btn" type="button" data-dismiss="modal">Cancel</button>
		</div>
		</form>
		
	</div>
	<script th:fragment="newChapterForm_JS" >
	$('#editor').wysiwyg();
	$('#chapter-submit-btn').hide();
	</script>
	
	<div th:fragment="editChapterForm_model">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
			<h4>Edit Chapter</h4>
		</div>
		<form id="editchapter_form" th:action="@{|/series/${chapter.series.id}/chapter/${chapter.id}/edit|}" th:object="${chapter}" method="post">
		<div class="modal-body">
			<div class="row">
				<div class="chapter-form col-xs-12 col-md-8">
					<div class="form-group">
						<label for="editchapter_title">Title</label>
						<input id="editchapter_title" class="form-control generatesTitleKey" type='text' th:field="*{title}" size='50' required="required"/>
					</div>
					<div class="form-group">
						<label for="editchapter_titleey">Uri</label>
						<div class="input-group input-group-sm">
							<span class="input-group-addon">
								<span>/<span class="owner" 
									th:text="${chapter.owner!=null?chapter.owner.username:#authentication.principal.username}">owner</span>/series/<span class="seriesId" 
									th:text="${chapter.series.id}">seriesId</span>/<span class="seriesTitleKey" 
									th:text="${chapter.series.titleKey}">seriesTitleKey</span>/chapter/<span th:text="${chapter.id}">Id</span>/</span>
							</span>
							<input id="editchapter_titleKey" class="form-control generatedTitleKey" type='text' th:field="*{titleKey}" size='50' required="required"/>
						</div>
					</div>
					
					<div class="form-group">
						<label for="body">Body</label>
						<div class="btn-toolbar" data-role="editor-toolbar"
						        data-target="#editor">
						  	<div class="btn-group">
								<a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fas fa-bold"></i></a>
								<a class="btn btn-default" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fas fa-italic"></i></a>
								<a class="btn btn-default" data-edit="strikethrough" title="Strikethrough"><i class="fas fa-strikethrough"></i></a>
								<a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fas fa-underline"></i></a>
							</div>
							
							<div class="btn-group">
								<a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fas fa-undo"></i></a>
								<a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fas fa-redo"></i></a>
								<a class="btn btn-default" data-edit="html" title="Clear Formatting"><i class='glyphicon glyphicon-pencil'></i></a>
							</div>
						</div> 
						<input type="hidden" id="chapter_body" th:field="*{body}"/>
						<div id="editor" class="form-control" data-placeholder="Start your story..."></div>
					</div>
					<div class="form-group">
						<label for="description">Summary</label>
						<input class="form-control" th:field="*{description}" size="50" type="text" placeholder="Short summary of this chapter..."/>
					</div>
				</div>
				<div class="chapter-options col-xs-12 col-md-4" th:include="common/fragments_forms :: post_options (${chapter}, ${ {:} }, true, true, false, false, true)">
					chapter-options
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button id="chapter-update-btn" type="submit" name="submit" value="Post Now">Update Now</button>
  			
			<button class="btn btn-success" type="button" name="submit" value="Post Now"
				onclick="$('#chapter_body').val($('#editor').cleanHtml(true));$('#chapter-update-btn').click();">Update Now</button>
			<button class="btn" type="button" data-dismiss="modal">Cancel</button>
		</div>
		</form>
		
	</div>
	<script th:fragment="editChapterForm_JS" th:inline="javascript">
	/*<![CDATA[*/
	var body = /*[[${chapter.body}]]*/ "";
	$('#editor').html(body);
	$('#editor').wysiwyg();
	$('#chapter-update-btn').hide();
	/*]]>*/
	</script>
	
	<div th:fragment="deleteChapterForm_model">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
			<h4>Delete Chapter</h4>
		</div>
		<form id="editchapter_form" th:action="@{|/series/${chapter.series.id}/chapter/${chapter.id}/delete|}" th:object="${chapter}" method="post">
		<div class="modal-body">
			Are you sure you want to delete:
			
			<h4 th:text="${chapter.title}">title</h4>
			<small>created on <span th:text="${chapter.dateCreated}">date</span></small>
	
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" type="submit" name="confirm">Yes, Delete Now</button>
  			<button class="btn" type="button" data-dismiss="modal">Cancel</button>
		</div>
		</form>
		
	</div>
	
	<div th:fragment="chapter">
		<!-- Chapter Post --> 
		
        <!-- Title -->
        <h1 itemprop="name" th:text="${chapter.title}">Chapter Title</h1>
        
        <!-- Author -->
        <p class="lead">
            <a th:href="@{|${chapter.series.uri}|}" th:text="${chapter.series.title}">series title</a> by <a th:if="${chapter.series.author!=null}" th:href='@{|/${chapter.author.username}|}' href="#" th:text="${chapter.author.username}">Author</a><span th:if="${chapter.author==null}">Former Member</span> 
        </p>
        
        <hr/>

        <!-- Date/Time --> 
        <p>
        	<span th:if="${chapter.datePublished!=null}"><span class="glyphicon glyphicon-time"></span> Posted on <time th:datetime="${#temporals.formatISO(chapter.datePublished)}" th:text="${#temporals.format(chapter.datePublished, #messages.msg('datetime.format.full'))}">August 24, 2013 at 9:00 PM</time></span>
        	<span th:if="${chapter.datePublished==null && chapter.scheduled!=null}"><span class="glyphicon glyphicon-time"></span> <span class="scheduled">Scheduled for</span> <time th:datetime="${#temporals.formatISO(chapter.scheduled.publishDate)}" th:text="${#temporals.format(chapter.scheduled.publishDate, #messages.msg('datetime.format.full'))}">August 24, 2013 at 9:00 PM</time></span>
        	<span class="glyphicon glyphicon-eye-open"></span> <span th:text="${views}">0</span> Views / <span th:text="${chapter.hitCount}">0</span> Hits
        	<span class="glyphicon glyphicon-stats"></span> Word Count: <span th:text="${chapter.wordCount}">0</span>
        </p>
        
        <!-- Reactions -->
		<div th:include="common/fragments_reactions :: reactions (${chapter.reactions}, ${reactionScores}, ${chapter.uri}, null)">reactions</div>
        
        <hr sec:authorize="isAuthenticated()" th:if="${#authentication.principal.userId}==${chapter.author.userId}" />
		
		<div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.userId}==${chapter.author.userId}">
			
			<!-- Edit -->
			<button data-toggle="modal" data-target="#editchapterModal" class="btn btn-default" type="button"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit Chapter</button>
			<!-- Delete -->
			<button data-toggle="modal" data-target="#deletechapterModal" class="btn btn-danger" type="button"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete Chapter</button>
		</div>
        
        <hr/>
        <div>
        	<a th:if="${hasPrev and prevPublished}" th:href="@{|${prevUri}|}" class="prevChapterBtn btn btn-default" type="button" th:disabled="${!hasPrev or !prevPublished}"><i class="glyphicon glyphicon-backward"></i>&nbsp;Previous Chapter</a>
        	<button th:if="${!hasPrev or !prevPublished}" class="prevChapterBtn btn btn-default" type="button" th:disabled="${!hasPrev or !prevPublished}"><i class="glyphicon glyphicon-backward"></i>&nbsp;Previous Chapter</button>
        	<a th:if="${hasNext and nextPublished}" th:href="@{|${nextUri}|}" class="nextChapterBtn btn btn-default pull-right" type="button" th:disabled="${!hasNext or !nextPublished}">Next Chapter&nbsp;<i class="glyphicon glyphicon-forward"></i></a>
        	<button th:if="${!hasNext or !nextPublished}" class="nextChapterBtn btn btn-default pull-right" type="button" th:disabled="${!hasNext or !nextPublished}">Next Chapter&nbsp;<i class="glyphicon glyphicon-forward"></i></button>
        </div>
        <hr/>
        
        <!-- Post Content -->
        <div th:utext="${chapter.filteredBody}">...HTML Body...</div>
                
        <hr/>
        <div>
        	<a th:if="${hasPrev} and ${prevPublished}" th:href="@{|${prevUri}|}" class="prevChapterBtn btn btn-default" type="button" th:disabled="${!hasPrev or !prevPublished}"><i class="glyphicon glyphicon-backward"></i>&nbsp;Previous Chapter</a>
        	<button th:if="${!hasPrev} or ${!prevPublished}" class="prevChapterBtn btn btn-default" type="button" th:disabled="${!hasPrev or !prevPublished}"><i class="glyphicon glyphicon-backward"></i>&nbsp;Previous Chapter</button>
        	<a th:if="${hasNext and nextPublished}" th:href="@{|${nextUri}|}" class="nextChapterBtn btn btn-default pull-right" type="button" th:disabled="${!hasNext or !nextPublished}">Next Chapter&nbsp;<i class="glyphicon glyphicon-forward"></i></a>
        	<button th:if="${!hasNext or !nextPublished}" class="nextChapterBtn btn btn-default pull-right" type="button" th:disabled="${!hasNext or !nextPublished}">Next Chapter&nbsp;<i class="glyphicon glyphicon-forward"></i></button>
        </div><a></a>
        <hr/>
        
        <!-- Author Box -->
		<div th:include="profile/fragments_profile :: authorBio (${profile}, ${chapter.author})">authorBox</div>
        
        <!-- Chapter Comments -->

        <!-- Comments Form -->
        <div th:replace="common/fragments_comments::post_comment_form(${chapter},'Leave a Comment')">Reply Form</div>

        <hr/>

        <!-- Posted Comments -->
		<div id="comments" class="comments" th:include="common/fragments_comments :: post_comments (${chapter})">Comments</div>
            
	</div>
	
	<div th:fragment="chapter_plain">
		<!-- Chapter Post --> 
		
        <!-- Title -->
        <h1 itemprop="name" th:text="${chapter.title}">Chapter Title</h1>
        
        <!-- Post Content -->
        <div th:utext="${chapter.filteredBody}">...HTML Body...</div>
         
	</div>
	
	
	
  
  </body>
</html>
